.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn
{
    padding: 5px 7px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid #e2e4f3;
    border-radius: 7px;
    font-family: cursive;
    font-weight: 900;
    cursor: pointer;
}
.search .btn:hover
{
    color: aliceblue;
    font-weight: bold;
    /* font-family: cursive; */
}
.my-2{
    margin: 26px 0;
}
.text-center
{
    text-align: center;
}
.my1
{
    margin: 5px 0;
}